{% extends 'base.html' %}
{% block title %}Изменить блюдо{% endblock %}
{% block content %}
    <h2>Изменить блюдо: {{ food.name }} </h2>
     <form action="{% url 'webapp:food_update' form.instance.pk %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {% for field in form %}
           <p>{{ field.label_tag }}</p> <p>{{ field }}</p><br>
        {% endfor %}
        <div>
            <button type="submit" class="btn btn-primary">Сохранить</button>
        </div>
    </form>
{% endblock %}
