{% extends 'base.html' %}
{% block title %}Изменить данные заказ{% endblock %}
{% block menu %}
     <li class="nav-item">
         <a href="{% url 'webapp:order_list' %}" class="nav-link">Список заказов</a>
     </li>
{% endblock %}
{% block content %}
    <h2 class="text-center">Изменить данные заказа {{ order.contact_name }}</h2>
     <form action="{% url 'webapp:order_data_update' order.pk %}" method="post">
        {% csrf_token %}
        {% for field in form %}
           <p>{{ field.label_tag }}</p> <p>{{ field }}</p><br>
        {% endfor %}
        <div>
            <button type="submit" class="btn btn-primary">Сохранить</button>
        </div>
    </form>
{% endblock %}